@inherits DisplayProductBase

<div class="col l-2-4">
    <a class="product" href="@($"productdetails/{Product.IdSp}")">
        <div class="product-header">
            <img class="product-img" src="@Product.HinhSp" />
        </div>
        <div class="product-heading">
            <h2 class="product-name">@Product.TenSp</h2>
            <h3 class="product-price">@Product.Gia đ̲</h3>
        </div>

        <div class="product-hover">
            <div class="product-wrap">

                <a href="@($"editproduct/{Product.IdSp}")" class="btn btn-primary product-btn">Edit</a>

                
                
            </div>
        </div>
    </a>
</div>
